// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container {
  margin: 0 auto;
  width: 70%;
  height: 100vh;
  background-color: lightcyan;
  .link-to {
    margin-left: 40px;
  }
}

li {
  list-style: none;
  margin-bottom: 10px;
}

h1 {
  margin-left: 30px;
}
